body {
    background: linear-gradient(to right, #2c003e, #5a0f3d);
    color: white;
    font-family: Arial;
}

.card {
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
<a href="{{ url_for('static', filename='feature_importance.png') }}"
   target="_blank"
   class="btn btn-outline-primary mt-3">
   View Feature Importance Graph
</a>

}
